<%- include('../layout/header.ejs')%>

    <div class="container">
        <h1 class='text-center'>
            <%= article.title %>
                <a href="" class="btn btn-info pull-right">编辑</a>

        </h1>
    </div>

    <%- include('../layout/footer.ejs')%>